Pandas

In [1]:
import pandas as pd      # import pandas library

In [2]:
home = pd.read_csv("house_csv.csv") # Loading csv file
# home = pd.read_excel('house_xls.xls')    Loading Excle file

In [3]:
home.head(10)  #  See the first 10 rows of a DataFrame.

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
5,2014-05-02 00:00:00,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
6,2014-05-02 00:00:00,335000.0,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA
7,2014-05-02 00:00:00,482000.0,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA
8,2014-05-02 00:00:00,452500.0,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,46611-46625 SE 129th St,North Bend,WA 98045,USA
9,2014-05-02 00:00:00,640000.0,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA

In [4]:
home

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [5]:
home.dtypes  # See all column data types

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [6]:
home.columns # See dataframe column names

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [7]:
home.info()  # Dataframe info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [8]:
home['price'] # Each column data

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [9]:
home[['price', 'city']]

             price       city
0     3.130000e+05  Shoreline
1     2.384000e+06    Seattle
2     3.420000e+05       Kent
3     4.200000e+05   Bellevue
4     5.500000e+05    Redmond
...            ...        ...
4595  3.081667e+05    Seattle
4596  5.343333e+05   Bellevue
4597  4.169042e+05     Renton
4598  2.034000e+05    Seattle
4599  2.206000e+05  Covington

[4600 rows x 2 columns]

In [10]:
home.iloc[1000]   # Each row data

date             2014-05-20 00:00:00
price                         384000
bedrooms                           3
bathrooms                        2.5
sqft_living                     1700
sqft_lot                        4000
floors                             2
waterfront                         0
view                               0
condition                          3
sqft_above                      1700
sqft_basement                      0
yr_built                        2003
yr_renovated                       0
street             35131 SE Ridge St
city                      Snoqualmie
statezip                    WA 98065
country                          USA
Name: 1000, dtype: object

In [11]:
home.iloc[800:820]  # Selected rows data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
800,2014-05-16 00:00:00,370000.0,4.0,1.50,1370,9957,1.0,0,0,3,900,470,1972,2002,12054 NE 137th Ct,Kirkland,WA 98034,USA
801,2014-05-16 00:00:00,425000.0,3.0,2.50,2670,13218,1.0,0,0,4,2670,0,1988,0,26010 141st Ave SE,Kent,WA 98042,USA
802,2014-05-16 00:00:00,342000.0,3.0,1.00,1260,6826,1.0,0,0,3,720,540,1944,0,14040 24th Ave NE,Seattle,WA 98125,USA
803,2014-05-16 00:00:00,345000.0,4.0,1.00,1980,7991,1.5,0,0,3,1980,0,1962,2003,12652 SE 160th St,Renton,WA 98058,USA
804,2014-05-16 00:00:00,724800.0,3.0,2.00,2050,3933,1.0,0,0,3,1180,870,1926,2001,2610 E Montlake Pl E,Seattle,WA 98112,USA
805,2014-05-16 00:00:00,725000.0,5.0,2.75,2830,5310,2.0,0,0,3,2830,0,2006,0,11931 179th Pl NE,Redmond,WA 98052,USA
806,2014-05-16 00:00:00,605000.0,2.0,1.00,910,3600,1.0,0,0,4,910,0,1909,1989,1617-1621 3rd Ave W,Seattle,WA 98119,USA
807,2014-05-16 00:00:00,350000.0,4.0,2.50,2440,4000,2.0,0,0,3,2440,0,2009,0,24246 229th Ave SE,Maple Valley,WA 98038,USA
808,2014-05-16 00:00:00,785000.0,3.0,2.00,2180,5440,1.0,0,0,5,1100,1080,1904,0,4111 Woodland Park Ave N,Seattle,WA 98103,USA
809,2014-05-16 00:00:00,250000.0,3.0,2.00,1900,6660,1.0,0,0,5,950,950,1966,0,27022 216th Ave SE,Maple Valley,WA 98038,USA
810,2014-05-16 00:00:00,565000.0,3.0,2.25,1520,1221,3.0,0,0,3,1520,0,2013,1923,1512 NW 62nd St,Seattle,WA 98107,USA
811,2014-05-16 00:00:00,875000.0,3.0,2.00,2220,6641,1.0,0,2,4,1220,1000,1947,1988,2559 24th Ave W,Seattle,WA 98199,USA
812,2014-05-16 00:00:00,862500.0,4.0,2.75,3280,24440,2.0,0,0,3,3280,0,1996,0,12040 201st Pl NE,Woodinville,WA 98077,USA
813,2014-05-16 00:00:00,400000.0,3.0,2.50,2740,83199,2.0,0,4,3,2740,0,1973,2013,27200-27218 52nd Ave S,Kent,WA 98032,USA
814,2014-05-16 00:00:00,282613.0,2.0,1.00,830,6017,1.0,0,0,4,830,0,1954,1979,16221 Bagley Pl N,Shoreline,WA 98133,USA
815,2014-05-16 00:00:00,174500.0,2.0,1.00,1010,5200,1.0,0,0,3,1010,0,1955,2005,20721 9th Ave S,Des Moines,WA 98198,USA
816,2014-05-16 00:00:00,306500.0,3.0,2.25,2060,38377,1.0,0,0,4,1560,500,1978,2000,36415 12th Pl S,Federal Way,WA 98003,USA
817,2014-05-16 00:00:00,445000.0,3.0,2.25,1990,7340,2.0,0,0,3,1990,0,1984,0,17849 149th Ave NE,Woodinville,WA 98072,USA
818,2014-05-16 00:00:00,433000.0,4.0,2.50,2280,7568,2.0,0,0,4,2280,0,2001,0,2207 Kennewick Pl NE,Renton,WA 98056,USA
819,2014-05-16 00:00:00,306000.0,3.0,2.50,1870,5874,2.0,0,0,3,1870,0,2005,0,22610 133rd Pl SE,Kent,WA 98042,USA

In [12]:
for index,row in home.iterrows():       # for loop using get column data
    print(index,row['city'])

0 Shoreline
1 Seattle
2 Kent
3 Bellevue
4 Redmond
5 Seattle
6 Redmond
7 Maple Valley
8 North Bend
9 Seattle
10 Lake Forest Park
11 Seattle
12 Sammamish
13 Seattle
14 Seattle
15 Kent
16 Bellevue
17 Auburn
18 Des Moines
19 North Bend
20 Seattle
21 Bellevue
22 Seattle
23 Bothell
24 Seattle
25 Federal Way
26 Seattle
27 Kirkland
28 Issaquah
29 Seattle
30 Kirkland
31 Woodinville
32 Seattle
33 Shoreline
34 Auburn
35 Federal Way
36 Seattle
37 Maple Valley
38 Normandy Park
39 Seattle
40 Fall City
41 Renton
42 Shoreline
43 Seattle
44 Seattle
45 Woodinville
46 Issaquah
47 Renton
48 Seattle
49 Redmond
50 Issaquah
51 Sammamish
52 Seattle
53 Carnation
54 Bothell
55 Bellevue
56 Auburn
57 Snoqualmie
58 Seattle
59 Seattle
60 Snoqualmie
61 North Bend
62 Renton
63 Kent
64 Renton
65 Seattle
66 Issaquah
67 Snoqualmie
68 Redmond
69 Renton
70 Auburn
71 Seattle
72 Seattle
73 Sammamish
74 Kirkland
75 Seattle
76 Seattle
77 Sammamish
78 Bellevue
79 Issaquah
80 Issaquah
81 Sammamish
82 Seattle
83 Issaquah
84 Kirkland
85 Shoreline
86 Seattle
87 Kirkland
88 Seattle
89 Des Moines
90 Kirkland
91 Seattle
92 Seattle
93 Seattle
94 Seattle
95 Bellevue
96 Seattle
97 Federal Way
98 Seattle
99 Seattle
100 Renton
101 Redmond
102 Bellevue
103 Auburn
104 Seattle
105 Snoqualmie
106 Bellevue
107 Redmond
108 Seattle
109 Federal Way
110 Seattle
111 Maple Valley
112 Duvall
113 Issaquah
114 Seattle
115 Kirkland
116 Seattle
117 Burien
118 Bellevue
119 Sammamish
120 Shoreline
121 Seattle
122 Redmond
123 Renton
124 Seattle
125 Seattle
126 Seattle
127 Seattle
128 Auburn
129 Renton
130 Sammamish
131 Renton
132 Des Moines
133 Seattle
134 Seattle
135 Redmond
136 Seattle
137 Kirkland
138 Issaquah
139 Seattle
140 Issaquah
141 Seattle
142 Redmond
143 Issaquah
144 Seattle
145 Issaquah
146 Seattle
147 Renton
148 Issaquah
149 Issaquah
150 Redmond
151 Kirkland
152 Seattle
153 Seattle
154 Redmond
155 Covington
156 Seattle
157 Seattle
158 Seattle
159 Seattle
160 Des Moines
161 Issaquah
162 Seattle
163 Seattle
164 Seattle
165 Seattle
166 Inglewood-Finn Hill
167 Seattle
168 Shoreline
169 Bellevue
170 Kenmore
171 Bellevue
172 Des Moines
173 Carnation
174 Burien
175 Kirkland
176 Kent
177 Shoreline
178 Kenmore
179 Renton
180 Renton
181 Seattle
182 Renton
183 Kirkland
184 Bellevue
185 Kenmore
186 Seattle
187 Federal Way
188 Bellevue
189 Redmond
190 Federal Way
191 Seattle
192 Seattle
193 Seattle
194 North Bend
195 Sammamish
196 Kenmore
197 Bellevue
198 Sammamish
199 Seattle
200 Sammamish
201 Seattle
202 Redmond
203 Bellevue
204 Sammamish
205 Seattle
206 Newcastle
207 Auburn
208 Newcastle
209 Woodinville
210 Shoreline
211 Seattle
212 Seattle
213 Seattle
214 Bellevue
215 Auburn
216 Seattle
217 Mercer Island
218 Federal Way
219 Seattle
220 Seattle
221 Federal Way
222 Seattle
223 Seattle
224 Seattle
225 Renton
226 Seattle
227 Bellevue
228 Redmond
229 Seattle
230 Burien
231 Seattle
232 Shoreline
233 Redmond
234 Black Diamond
235 Kirkland
236 Maple Valley
237 Burien
238 Renton
239 Seattle
240 Ravensdale
241 Seattle
242 Kirkland
243 Covington
244 Kent
245 Redmond
246 Bellevue
247 Seattle
248 Carnation
249 Bothell
250 Burien
251 Federal Way
252 Seattle
253 Seattle
254 Carnation
255 Kirkland
256 Bellevue
257 Seattle
258 Renton
259 Seattle
260 Burien
261 Kirkland
262 Kent
263 Issaquah
264 Seattle
265 Seattle
266 Seattle
267 Kirkland
268 Redmond
269 Seattle
270 Shoreline
271 Renton
272 Woodinville
273 Clyde Hill
274 Seattle
275 Seattle
276 Seattle
277 Federal Way
278 Issaquah
279 Renton
280 Seattle
281 Seattle
282 Redmond
283 Renton
284 Seattle
285 Seattle
286 Issaquah
287 Kent
288 Renton
289 Seattle
290 Algona
291 Lake Forest Park
292 Woodinville
293 Auburn
294 Seattle
295 Seattle
296 Issaquah
297 Seattle
298 Kent
299 Federal Way
300 Covington
301 Seattle
302 Kenmore
303 Seattle
304 Shoreline
305 Maple Valley
306 Seattle
307 Burien
308 Seattle
309 Kirkland
310 Kirkland
311 Seattle
312 Auburn
313 Seattle
314 Seattle
315 Seattle
316 Seattle
317 Duvall
318 Mercer Island
319 Federal Way
320 Seattle
321 Sammamish
322 Mercer Island
323 Seattle
324 Algona
325 Issaquah
326 Skykomish
327 Kirkland
328 Seattle
329 Seattle
330 Redmond
331 Kent
332 Kent
333 Issaquah
334 Seattle
335 Kent
336 Kent
337 Normandy Park
338 Seattle
339 Redmond
340 Kent
341 Seattle
342 Seattle
343 Bellevue
344 Kent
345 Auburn
346 Federal Way
347 Seattle
348 Kent
349 Seattle
350 Seattle
351 Sammamish
352 Seattle
353 Seattle
354 Redmond
355 Bellevue
356 Seattle
357 Seattle
358 Woodinville
359 Bellevue
360 Renton
361 Seattle
362 Woodinville
363 Seattle
364 Tukwila
365 Redmond
366 Seattle
367 Kirkland
368 Seattle
369 Federal Way
370 Renton
371 Des Moines
372 Burien
373 Mercer Island
374 Seattle
375 Snoqualmie
376 Redmond
377 Algona
378 Seattle
379 Renton
380 Seattle
381 Burien
382 Seattle
383 Seattle
384 Seattle
385 Kenmore
386 Seattle
387 Seattle
388 Woodinville
389 Renton
390 Renton
391 Issaquah
392 Seattle
393 Auburn
394 Covington
395 Vashon
396 Woodinville
397 Sammamish
398 Federal Way
399 Renton
400 Issaquah
401 Lake Forest Park
402 Seattle
403 Seattle
404 Sammamish
405 Seattle
406 Fall City
407 Issaquah
408 Seattle
409 Snoqualmie
410 Kirkland
411 Seattle
412 Renton
413 Seattle
414 Bellevue
415 Auburn
416 Federal Way
417 Kent
418 Woodinville
419 Seattle
420 Algona
421 Issaquah
422 Kenmore
423 Seattle
424 Seattle
425 Kent
426 Woodinville
427 Kent
428 Redmond
429 Bellevue
430 Redmond
431 Auburn
432 Renton
433 Seattle
434 Sammamish
435 Burien
436 Renton
437 Renton
438 Seattle
439 Black Diamond
440 North Bend
441 Bellevue
442 Sammamish
443 Bellevue
444 Redmond
445 Ravensdale
446 Ravensdale
447 Seattle
448 Federal Way
449 Duvall
450 Maple Valley
451 Renton
452 Mercer Island
453 Seattle
454 Woodinville
455 Seattle
456 Renton
457 Seattle
458 Kenmore
459 Seattle
460 Seattle
461 Carnation
462 Issaquah
463 Seattle
464 Seattle
465 Maple Valley
466 Seattle
467 Kent
468 Seattle
469 Seattle
470 Seattle
471 Redmond
472 Seattle
473 Issaquah
474 Clyde Hill
475 Seattle
476 Shoreline
477 Seattle
478 Mercer Island
479 Auburn
480 Bellevue
481 Seattle
482 Bellevue
483 Mercer Island
484 Duvall
485 Seattle
486 Bellevue
487 Seattle
488 Seattle
489 Seattle
490 Maple Valley
491 Seattle
492 Seattle
493 Renton
494 Sammamish
495 Woodinville
496 Auburn
497 Renton
498 Seattle
499 Kirkland
500 Seattle
501 Seattle
502 Redmond
503 Burien
504 Kirkland
505 Mercer Island
506 Mercer Island
507 Maple Valley
508 Seattle
509 Kent
510 Redmond
511 Seattle
512 Shoreline
513 Issaquah
514 Issaquah
515 Seattle
516 Seattle
517 Woodinville
518 Burien
519 Federal Way
520 Seattle
521 Redmond
522 Normandy Park
523 Seattle
524 Seattle
525 Clyde Hill
526 Seattle
527 Seattle
528 Kirkland
529 Maple Valley
530 Bellevue
531 Burien
532 Seattle
533 Seattle
534 Mercer Island
535 Vashon
536 Seattle
537 Bellevue
538 Seattle
539 Seattle
540 Seattle
541 Redmond
542 Maple Valley
543 Kirkland
544 Renton
545 Redmond
546 Seattle
547 Sammamish
548 Woodinville
549 Issaquah
550 Kenmore
551 Federal Way
552 Redmond
553 Shoreline
554 Renton
555 Kent
556 Seattle
557 Issaquah
558 Bellevue
559 Bellevue
560 Seattle
561 Redmond
562 Seattle
563 Seattle
564 Yarrow Point
565 Kent
566 Duvall
567 Seattle
568 Auburn
569 Seattle
570 Bellevue
571 Renton
572 Seattle
573 Seattle
574 Seattle
575 Seattle
576 Bellevue
577 Shoreline
578 Sammamish
579 Vashon
580 Woodinville
581 Seattle
582 Seattle
583 SeaTac
584 Seattle
585 Kirkland
586 Seattle
587 Seattle
588 Kirkland
589 Bellevue
590 Newcastle
591 Bellevue
592 Mercer Island
593 Shoreline
594 Seattle
595 Redmond
596 Seattle
597 Seattle
598 Seattle
599 Covington
600 Bellevue
601 Bellevue
602 Bellevue
603 Mercer Island
604 Burien
605 Normandy Park
606 Mercer Island
607 Seattle
608 Lake Forest Park
609 Seattle
610 Auburn
611 Mercer Island
612 Auburn
613 Woodinville
614 Duvall
615 Seattle
616 Seattle
617 Snoqualmie
618 Kenmore
619 Woodinville
620 Seattle
621 Snoqualmie
622 Seattle
623 Seattle
624 Renton
625 Seattle
626 Seattle
627 Seattle
628 Seattle
629 Mercer Island
630 Bellevue
631 Seattle
632 Seattle
633 Des Moines
634 Federal Way
635 Renton
636 Sammamish
637 Normandy Park
638 Renton
639 Kent
640 Auburn
641 Auburn
642 Seattle
643 Seattle
644 Seattle
645 Kirkland
646 Seattle
647 Issaquah
648 Kenmore
649 Seattle
650 Seattle
651 Maple Valley
652 Seattle
653 Newcastle
654 Issaquah
655 Woodinville
656 Seattle
657 Kent
658 Shoreline
659 Seattle
660 Shoreline
661 Seattle
662 Auburn
663 Seattle
664 Fall City
665 Kent
666 Shoreline
667 Auburn
668 Bellevue
669 Federal Way
670 Kenmore
671 Ravensdale
672 Tukwila
673 Duvall
674 Seattle
675 Woodinville
676 Seattle
677 Sammamish
678 Renton
679 Issaquah
680 Renton
681 Redmond
682 Shoreline
683 SeaTac
684 Shoreline
685 Auburn
686 Kirkland
687 Seattle
688 Auburn
689 Seattle
690 Redmond
691 Covington
692 Bellevue
693 Seattle
694 Redmond
695 Sammamish
696 Bellevue
697 Auburn
698 Kirkland
699 Federal Way
700 Mercer Island
701 Tukwila
702 Renton
703 Issaquah
704 Sammamish
705 Federal Way
706 Sammamish
707 Renton
708 Auburn
709 Bellevue
710 Seattle
711 Sammamish
712 Kent
713 Renton
714 Seattle
715 Renton
716 Federal Way
717 Seattle
718 Federal Way
719 Seattle
720 Seattle
721 Shoreline
722 Kirkland
723 Tukwila
724 Seattle
725 Redmond
726 Bellevue
727 Kenmore
728 Redmond
729 Kent
730 Kenmore
731 Renton
732 Redmond
733 North Bend
734 Seattle
735 Seattle
736 Bellevue
737 Seattle
738 Issaquah
739 Auburn
740 Sammamish
741 Issaquah
742 Shoreline
743 Seattle
744 Maple Valley
745 Medina
746 Seattle
747 Duvall
748 Sammamish
749 Federal Way
750 Shoreline
751 Woodinville
752 Renton
753 Woodinville
754 Seattle
755 Seattle
756 Shoreline
757 Seattle
758 Seattle
759 Seattle
760 Bellevue
761 Covington
762 Seattle
763 Kirkland
764 Bellevue
765 Seattle
766 Seattle
767 Seattle
768 Lake Forest Park
769 Seattle
770 Renton
771 Seattle
772 Issaquah
773 Seattle
774 Redmond
775 Seattle
776 Issaquah
777 Redmond
778 Seattle
779 Fall City
780 Sammamish
781 Newcastle
782 Kent
783 North Bend
784 Seattle
785 Snoqualmie
786 Seattle
787 Seattle
788 Renton
789 Seattle
790 Seattle
791 Seattle
792 Federal Way
793 Kirkland
794 North Bend
795 Tukwila
796 Federal Way
797 Issaquah
798 Vashon
799 Sammamish
800 Kirkland
801 Kent
802 Seattle
803 Renton
804 Seattle
805 Redmond
806 Seattle
807 Maple Valley
808 Seattle
809 Maple Valley
810 Seattle
811 Seattle
812 Woodinville
813 Kent
814 Shoreline
815 Des Moines
816 Federal Way
817 Woodinville
818 Renton
819 Kent
820 Seattle
821 Seattle
822 Seattle
823 Seattle
824 Snoqualmie
825 Seattle
826 Seattle
827 Kent
828 Issaquah
829 Bothell
830 Des Moines
831 Seattle
832 Seattle
833 Covington
834 Sammamish
835 Maple Valley
836 Bellevue
837 Seattle
838 Kenmore
839 Mercer Island
840 Issaquah
841 Snoqualmie
842 Sammamish
843 Seattle
844 Snoqualmie
845 Issaquah
846 Shoreline
847 Bellevue
848 Seattle
849 Seattle
850 Renton
851 Enumclaw
852 Redmond
853 Woodinville
854 Snoqualmie
855 Seattle
856 Bellevue
857 Renton
858 Seattle
859 Kent
860 Seattle
861 Federal Way
862 Bellevue
863 Renton
864 Seattle
865 Maple Valley
866 Seattle
867 Shoreline
868 Seattle
869 Seattle
870 Seattle
871 North Bend
872 Seattle
873 Seattle
874 Vashon
875 Seattle
876 Kent
877 Seattle
878 Auburn
879 North Bend
880 Bellevue
881 Auburn
882 Seattle
883 Kirkland
884 Shoreline
885 Issaquah
886 Seattle
887 Maple Valley
888 Seattle
889 Woodinville
890 Seattle
891 Federal Way
892 Kent
893 Renton
894 Seattle
895 Redmond
896 Issaquah
897 Woodinville
898 Redmond
899 Seattle
900 Seattle
901 Des Moines
902 Issaquah
903 Woodinville
904 Redmond
905 Renton
906 Seattle
907 Renton
908 SeaTac
909 Seattle
910 Bellevue
911 Renton
912 Seattle
913 Seattle
914 Seattle
915 Redmond
916 Shoreline
917 Carnation
918 Renton
919 Des Moines
920 Seattle
921 North Bend
922 Kenmore
923 Newcastle
924 Seattle
925 Seattle
926 Bellevue
927 Seattle
928 Seattle
929 Kirkland
930 Redmond
931 Seattle
932 Federal Way
933 Snoqualmie
934 Sammamish
935 Kenmore
936 Seattle
937 Normandy Park
938 Seattle
939 Seattle
940 Seattle
941 Seattle
942 Renton
943 Seattle
944 Seattle
945 Kent
946 Seattle
947 Seattle
948 Redmond
949 Seattle
950 Redmond
951 Renton
952 Bellevue
953 Seattle
954 Seattle
955 Seattle
956 Seattle
957 Bellevue
958 Seattle
959 Kirkland
960 Auburn
961 Kent
962 Redmond
963 Seattle
964 Woodinville
965 Redmond
966 Redmond
967 Renton
968 Seattle
969 Woodinville
970 Bellevue
971 Maple Valley
972 Renton
973 Kenmore
974 Seattle
975 Seattle
976 Maple Valley
977 Seattle
978 Auburn
979 Seattle
980 Renton
981 Shoreline
982 Seattle
983 Renton
984 Seattle
985 Seattle
986 Seattle
987 Seattle
988 Redmond
989 Seattle
990 Federal Way
991 Covington
992 SeaTac
993 Federal Way
994 Seattle
995 Medina
996 Shoreline
997 Bellevue
998 Seattle
999 Renton
1000 Snoqualmie
1001 Renton
1002 Seattle
1003 Maple Valley
1004 Redmond
1005 Redmond
1006 Kent
1007 Seattle
1008 Seattle
1009 Federal Way
1010 Seattle
1011 Issaquah
1012 Seattle
1013 Bellevue
1014 Sammamish
1015 Kenmore
1016 Shoreline
1017 Auburn
1018 Seattle
1019 Bellevue
1020 Kirkland
1021 Maple Valley
1022 Seattle
1023 Seattle
1024 Auburn
1025 Seattle
1026 Renton
1027 Seattle
1028 Seattle
1029 Seattle
1030 Snoqualmie
1031 Duvall
1032 Seattle
1033 Seattle
1034 Seattle
1035 Kirkland
1036 Seattle
1037 Seattle
1038 Renton
1039 Seattle
1040 Auburn
1041 Snoqualmie
1042 Seattle
1043 Seattle
1044 Issaquah
1045 SeaTac
1046 Seattle
1047 Issaquah
1048 Seattle
1049 Kirkland
1050 Des Moines
1051 Carnation
1052 Redmond
1053 Bellevue
1054 Seattle
1055 Covington
1056 Seattle
1057 Renton
1058 Sammamish
1059 Newcastle
1060 Seattle
1061 Seattle
1062 Kirkland
1063 Kirkland
1064 Snoqualmie Pass
1065 Seattle
1066 Auburn
1067 Enumclaw
1068 Seattle
1069 Bothell
1070 Mercer Island
1071 Sammamish
1072 Seattle
1073 Kirkland
1074 Auburn
1075 Seattle
1076 Seattle
1077 Kirkland
1078 Issaquah
1079 Woodinville
1080 Seattle
1081 Seattle
1082 Auburn
1083 Kirkland
1084 Des Moines
1085 Des Moines
1086 Seattle
1087 Kent
1088 Maple Valley
1089 Bellevue
1090 Seattle
1091 Issaquah
1092 Snoqualmie
1093 Renton
1094 Shoreline
1095 Renton
1096 Seattle
1097 Redmond
1098 Seattle
1099 Seattle
1100 Shoreline
1101 Seattle
1102 Kenmore
1103 Ravensdale
1104 Seattle
1105 Pacific
1106 Seattle
1107 Seattle
1108 Seattle
1109 Kirkland
1110 Bellevue
1111 Woodinville
1112 Carnation
1113 Issaquah
1114 Seattle
1115 Sammamish
1116 Redmond
1117 Federal Way
1118 Kirkland
1119 Maple Valley
1120 Shoreline
1121 Seattle
1122 Issaquah
1123 Redmond
1124 Seattle
1125 Auburn
1126 Kirkland
1127 Bellevue
1128 Kirkland
1129 Redmond
1130 Issaquah
1131 Seattle
1132 Kirkland
1133 Kirkland
1134 Kirkland
1135 Issaquah
1136 Seattle
1137 Kent
1138 Renton
1139 Kirkland
1140 Enumclaw
1141 Covington
1142 Sammamish
1143 Bellevue
1144 Seattle
1145 Bellevue
1146 Woodinville
1147 Redmond
1148 Seattle
1149 Renton
1150 Seattle
1151 Seattle
1152 Kent
1153 Duvall
1154 Des Moines
1155 Seattle
1156 Seattle
1157 Seattle
1158 Renton
1159 Des Moines
1160 Burien
1161 North Bend
1162 Seattle
1163 Federal Way
1164 Seattle
1165 Seattle
1166 Bellevue
1167 Federal Way
1168 Seattle
1169 Auburn
1170 Bellevue
1171 Bellevue
1172 Federal Way
1173 Seattle
1174 Seattle
1175 Seattle
1176 Kirkland
1177 Kirkland
1178 Renton
1179 Seattle
1180 North Bend
1181 Redmond
1182 Issaquah
1183 Seattle
1184 SeaTac
1185 Seattle
1186 Seattle
1187 Sammamish
1188 Woodinville
1189 Seattle
1190 Seattle
1191 Black Diamond
1192 Newcastle
1193 Redmond
1194 Seattle
1195 Sammamish
1196 Snoqualmie
1197 Seattle
1198 Kirkland
1199 Redmond
1200 Bellevue
1201 Seattle
1202 Sammamish
1203 Seattle
1204 Federal Way
1205 Kent
1206 SeaTac
1207 Seattle
1208 Issaquah
1209 Bellevue
1210 Seattle
1211 Seattle
1212 Seattle
1213 Redmond
1214 Seattle
1215 Auburn
1216 Seattle
1217 Seattle
1218 Seattle
1219 Carnation
1220 Bellevue
1221 Enumclaw
1222 Seattle
1223 Seattle
1224 Bellevue
1225 Federal Way
1226 Seattle
1227 Ravensdale
1228 Renton
1229 Auburn
1230 Woodinville
1231 Kent
1232 North Bend
1233 Seattle
1234 Seattle
1235 Renton
1236 Seattle
1237 Seattle
1238 Snoqualmie
1239 Redmond
1240 Sammamish
1241 Bellevue
1242 Shoreline
1243 Seattle
1244 Seattle
1245 Redmond
1246 Seattle
1247 Woodinville
1248 Sammamish
1249 Seattle
1250 Redmond
1251 Seattle
1252 Renton
1253 Issaquah
1254 Bellevue
1255 Federal Way
1256 Kirkland
1257 Burien
1258 Seattle
1259 Redmond
1260 Bellevue
1261 Auburn
1262 Maple Valley
1263 Seattle
1264 Clyde Hill
1265 Auburn
1266 Auburn
1267 Redmond
1268 Mercer Island
1269 Seattle
1270 Shoreline
1271 Renton
1272 Auburn
1273 Issaquah
1274 Seattle
1275 Redmond
1276 Seattle
1277 Seattle
1278 Seattle
1279 Seattle
1280 Redmond
1281 Renton
1282 Seattle
1283 Seattle
1284 Seattle
1285 Kirkland
1286 Seattle
1287 Seattle
1288 Renton
1289 Kent
1290 Bellevue
1291 Bellevue
1292 Seattle
1293 Seattle
1294 Seattle
1295 Seattle
1296 Seattle
1297 Seattle
1298 Seattle
1299 North Bend
1300 Seattle
1301 Sammamish
1302 Carnation
1303 Seattle
1304 Maple Valley
1305 Issaquah
1306 Auburn
1307 Renton
1308 Snoqualmie
1309 Sammamish
1310 SeaTac
1311 Enumclaw
1312 Redmond
1313 Maple Valley
1314 Shoreline
1315 Seattle
1316 Duvall
1317 Woodinville
1318 Shoreline
1319 Renton
1320 Auburn
1321 Kenmore
1322 Seattle
1323 Seattle
1324 Seattle
1325 Seattle
1326 Seattle
1327 Seattle
1328 Kenmore
1329 Shoreline
1330 Seattle
1331 Seattle
1332 Issaquah
1333 Kent
1334 Kirkland
1335 Woodinville
1336 Seattle
1337 Seattle
1338 Sammamish
1339 Seattle
1340 Kirkland
1341 Bellevue
1342 Shoreline
1343 Renton
1344 Seattle
1345 Mercer Island
1346 Pacific
1347 Seattle
1348 Kent
1349 Kent
1350 Seattle
1351 Kenmore
1352 Renton
1353 Seattle
1354 Shoreline
1355 Seattle
1356 Seattle
1357 Seattle
1358 Seattle
1359 Woodinville
1360 Federal Way
1361 Kent
1362 Seattle
1363 Redmond
1364 Bellevue
1365 Tukwila
1366 Kirkland
1367 Des Moines
1368 Duvall
1369 Mercer Island
1370 Kirkland
1371 Seattle
1372 Kirkland
1373 Seattle
1374 Redmond
1375 Shoreline
1376 Seattle
1377 Bellevue
1378 Redmond
1379 Seattle
1380 Seattle
1381 Renton
1382 Kent
1383 Burien
1384 Seattle
1385 Seattle
1386 Seattle
1387 Issaquah
1388 Seattle
1389 Shoreline
1390 Redmond
1391 Kirkland
1392 Seattle
1393 Renton
1394 Seattle
1395 Sammamish
1396 Issaquah
1397 Covington
1398 Snoqualmie
1399 Mercer Island
1400 Maple Valley
1401 Seattle
1402 Seattle
1403 Seattle
1404 Seattle
1405 Seattle
1406 Auburn
1407 Burien
1408 Vashon
1409 Seattle
1410 Redmond
1411 Kirkland
1412 Kirkland
1413 Des Moines
1414 Seattle
1415 Seattle
1416 Seattle
1417 Snoqualmie
1418 Renton
1419 Issaquah
1420 Seattle
1421 Kenmore
1422 Redmond
1423 Burien
1424 Redmond
1425 Woodinville
1426 Federal Way
1427 Mercer Island
1428 Kenmore
1429 Issaquah
1430 Seattle
1431 Seattle
1432 Shoreline
1433 Seattle
1434 Auburn
1435 Seattle
1436 Seattle
1437 Kirkland
1438 Seattle
1439 Seattle
1440 Auburn
1441 Renton
1442 Seattle
1443 Seattle
1444 Bellevue
1445 Seattle
1446 Redmond
1447 Seattle
1448 Bothell
1449 Renton
1450 Auburn
1451 Auburn
1452 Sammamish
1453 Issaquah
1454 Woodinville
1455 Bellevue
1456 Pacific
1457 Seattle
1458 Sammamish
1459 Renton
1460 Kent
1461 Kent
1462 Federal Way
1463 Federal Way
1464 Seattle
1465 Auburn
1466 Seattle
1467 Sammamish
1468 Seattle
1469 Seattle
1470 Seattle
1471 Kirkland
1472 Seattle
1473 Seattle
1474 Kent
1475 Seattle
1476 Beaux Arts Village
1477 Seattle
1478 Redmond
1479 Seattle
1480 Sammamish
1481 Renton
1482 Bellevue
1483 Seattle
1484 Covington
1485 Seattle
1486 Seattle
1487 Federal Way
1488 Seattle
1489 Seattle
1490 Kenmore
1491 Seattle
1492 Seattle
1493 Seattle
1494 Maple Valley
1495 Shoreline
1496 Maple Valley
1497 Kent
1498 Seattle
1499 Kent
1500 Seattle
1501 Seattle
1502 SeaTac
1503 Seattle
1504 Seattle
1505 Woodinville
1506 Kirkland
1507 Snoqualmie
1508 Seattle
1509 Federal Way
1510 Federal Way
1511 Fall City
1512 Federal Way
1513 Renton
1514 Bellevue
1515 Seattle
1516 Seattle
1517 Snoqualmie
1518 Seattle
1519 Renton
1520 Redmond
1521 Federal Way
1522 Issaquah
1523 Seattle
1524 Seattle
1525 Kenmore
1526 Federal Way
1527 Federal Way
1528 SeaTac
1529 Redmond
1530 Seattle
1531 Seattle
1532 Seattle
1533 Kent
1534 Issaquah
1535 Kent

In [13]:
home.iloc[10,5]  # Row and Column index using get particular data

7320

In [14]:
home.loc[home['city'] == 'Kent' ]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
2,2014-05-02 00:00:00,342000.000000,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
15,2014-05-02 00:00:00,242500.000000,3.0,1.50,1200,9720,1.0,0,0,4,1200,0,1965,0,14034 SE 201st St,Kent,WA 98042,USA
63,2014-05-02 00:00:00,300000.000000,3.0,2.50,2540,5050,2.0,0,0,3,2540,0,2006,0,29734 215th Terrace SE,Kent,WA 98042,USA
176,2014-05-06 00:00:00,284000.000000,4.0,2.50,2000,5390,2.0,0,0,3,2000,0,2003,0,25434 160th Ave SE,Kent,WA 98042,USA
244,2014-05-07 00:00:00,310000.000000,3.0,1.75,2070,37904,1.0,0,0,4,1420,650,1973,0,19654 116th Ave SE,Kent,WA 98031,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4512,2014-06-19 00:00:00,220083.333333,3.0,1.75,1150,8079,1.0,0,0,4,1150,0,1983,0,12021 SE 251 Pl,Kent,WA 98030,USA
4547,2014-06-26 00:00:00,264270.000000,3.0,2.50,1630,7700,1.0,0,0,3,1120,510,1978,0,9812 S 239th Pl,Kent,WA 98031,USA
4560,2014-06-30 00:00:00,132250.000000,4.0,2.25,1830,8734,2.0,0,0,4,1830,0,1991,0,12116 SE 261st Ct,Kent,WA 98030,USA
4569,2014-07-02 00:00:00,268971.875000,4.0,2.50,1954,4805,2.0,0,0,3,1954,0,2005,0,19320 113th Ave SE,Kent,WA 98031,USA
4594,2014-07-09 00:00:00,210614.285714,3.0,2.50,1610,7223,2.0,0,0,3,1610,0,1994,0,26306 127th Ave SE,Kent,WA 98030,USA

In [15]:
home[['city']].shape # Column shape

(4600, 1)

In [16]:
home.sort_values('price', ascending=False)     # Sorting values using ascending

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2014-06-09 00:00:00,0.0,4.0,3.75,4060,19290,2.0,0,0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074,USA
4567,2014-07-02 00:00:00,0.0,4.0,2.50,4080,18362,2.0,0,2,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004,USA
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA
4454,2014-06-03 00:00:00,0.0,5.0,2.50,2090,4698,2.0,0,0,3,2090,0,1998,2006,27622 237th Pl SE,Maple Valley,WA 98038,USA
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA

In [17]:
home.sort_values('bedrooms', ascending=False)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
241,2014-05-07 00:00:00,599999.0,9.0,4.50,3830,6988,2.5,0,0,3,2450,1380,1938,2003,8809 Densmore Ave N,Seattle,WA 98103,USA
3911,2014-07-03 00:00:00,340000.0,8.0,2.75,2790,6695,1.0,0,0,3,1470,1320,1977,2004,17512 Corliss Ave N,Shoreline,WA 98133,USA
1500,2014-05-28 00:00:00,1970000.0,8.0,3.50,4440,6480,2.0,0,3,5,3140,1300,1959,0,1210 22nd Ave E,Seattle,WA 98112,USA
1644,2014-05-30 00:00:00,840000.0,7.0,4.50,4290,37607,1.5,0,0,5,4290,0,1982,0,13527 231st Pl SE,Issaquah,WA 98027,USA
291,2014-05-07 00:00:00,540000.0,7.0,5.75,3700,7647,2.0,0,1,3,3700,0,1948,1984,15007-15299 37th Ave NE,Lake Forest Park,WA 98155,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,2014-05-22 00:00:00,353000.0,1.0,1.00,550,1279,2.0,0,0,3,550,0,2008,0,1620 14th Ave,Seattle,WA 98122,USA
1906,2014-06-04 00:00:00,129000.0,1.0,1.00,650,15364,1.0,0,0,4,650,0,1967,0,13712 SE 256th Pl,Kent,WA 98042,USA
260,2014-05-07 00:00:00,250000.0,1.0,1.00,1100,4373,1.0,0,0,2,820,280,1947,0,232 SW 154th St,Burien,WA 98166,USA
2365,2014-06-12 00:00:00,1095000.0,0.0,0.00,3064,4764,3.5,0,2,3,3064,0,1990,2009,814 E Howe St,Seattle,WA 98102,USA
3209,2014-06-24 00:00:00,1295648.0,0.0,0.00,4810,28008,2.0,0,0,3,4810,0,1990,2009,20418 NE 64th Pl,Redmond,WA 98053,USA

In [18]:
home.sort_values(['price' , 'bedrooms'] , ascending=[1,0]) # Multi columns sorting

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4357,2014-05-05 00:00:00,0.0,6.0,2.75,3200,9200,1.0,0,2,4,1600,1600,1953,1983,12271 Marine View Dr SW,Burien,WA 98146,USA
4509,2014-06-18 00:00:00,0.0,6.0,3.00,3020,13783,2.0,0,0,3,3020,0,1952,2002,4115 85th Ave SE,Mercer Island,WA 98040,USA
4358,2014-05-06 00:00:00,0.0,5.0,3.50,3480,36615,2.0,0,0,4,2490,990,1983,0,21809 SE 38th Pl,Issaquah,WA 98075,USA
4361,2014-05-07 00:00:00,0.0,5.0,1.50,1500,7112,1.0,0,0,5,760,740,1920,0,14901-14999 12th Ave SW,Burien,WA 98166,USA
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,2014-06-18 00:00:00,4489000.0,4.0,3.00,6430,27517,2.0,0,0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
2286,2014-06-11 00:00:00,7062500.0,5.0,4.50,10040,37325,2.0,1,2,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004,USA
4346,2014-06-23 00:00:00,12899000.0,3.0,2.50,2190,11394,1.0,0,0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199,USA
4350,2014-07-03 00:00:00,26590000.0,3.0,2.00,1180,7793,1.0,0,0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031,USA

In [19]:
highpricebedroom = home.loc[(home['bedrooms'] == 7 ) & (home['price'] > 500000.0 )]  # Filter specific rows

In [20]:
highpricebedroom

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
122,2014-05-05 00:00:00,2280000.0,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
252,2014-05-07 00:00:00,3200000.0,7.0,4.50,6210,8856,2.5,0,2,5,4760,1450,1910,0,1230 Warren Ave N,Seattle,WA 98109,USA
291,2014-05-07 00:00:00,540000.0,7.0,5.75,3700,7647,2.0,0,1,3,3700,0,1948,1984,15007-15299 37th Ave NE,Lake Forest Park,WA 98155,USA
575,2014-05-13 00:00:00,550000.0,7.0,4.00,3440,8100,2.0,0,0,3,3440,0,1970,2014,718 N 95th St,Seattle,WA 98103,USA
1455,2014-05-28 00:00:00,999000.0,7.0,4.00,3150,34830,1.0,0,0,3,3150,0,1957,2005,714 145th Ave SE,Bellevue,WA 98007,USA
1479,2014-05-28 00:00:00,565000.0,7.0,4.50,4140,9066,1.0,0,0,3,2070,2070,1978,0,14007 35th Ave NE,Seattle,WA 98125,USA
1644,2014-05-30 00:00:00,840000.0,7.0,4.50,4290,37607,1.5,0,0,5,4290,0,1982,0,13527 231st Pl SE,Issaquah,WA 98027,USA
2717,2014-06-17 00:00:00,824000.0,7.0,4.25,3670,4000,2.0,0,1,3,2800,870,1964,2000,2341 W Crockett St,Seattle,WA 98199,USA
2917,2014-06-20 00:00:00,1950000.0,7.0,3.50,4640,15235,2.0,0,1,3,2860,1780,1965,2003,8105 SE 44th St,Mercer Island,WA 98040,USA
3004,2014-06-20 00:00:00,1240000.0,7.0,5.50,6630,13782,2.0,0,0,3,4930,1700,2004,2003,16659 SE 69th Way,Bellevue,WA 98006,USA
4243,2014-07-09 00:00:00,599000.0,7.0,2.50,2580,5750,1.0,0,0,4,1880,700,1901,0,125 30th Ave,Seattle,WA 98122,USA

In [21]:
highpricebedroom.reset_index(drop = True)  # Reset index number

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-05 00:00:00,2280000.0,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
1,2014-05-07 00:00:00,3200000.0,7.0,4.50,6210,8856,2.5,0,2,5,4760,1450,1910,0,1230 Warren Ave N,Seattle,WA 98109,USA
2,2014-05-07 00:00:00,540000.0,7.0,5.75,3700,7647,2.0,0,1,3,3700,0,1948,1984,15007-15299 37th Ave NE,Lake Forest Park,WA 98155,USA
3,2014-05-13 00:00:00,550000.0,7.0,4.00,3440,8100,2.0,0,0,3,3440,0,1970,2014,718 N 95th St,Seattle,WA 98103,USA
4,2014-05-28 00:00:00,999000.0,7.0,4.00,3150,34830,1.0,0,0,3,3150,0,1957,2005,714 145th Ave SE,Bellevue,WA 98007,USA
5,2014-05-28 00:00:00,565000.0,7.0,4.50,4140,9066,1.0,0,0,3,2070,2070,1978,0,14007 35th Ave NE,Seattle,WA 98125,USA
6,2014-05-30 00:00:00,840000.0,7.0,4.50,4290,37607,1.5,0,0,5,4290,0,1982,0,13527 231st Pl SE,Issaquah,WA 98027,USA
7,2014-06-17 00:00:00,824000.0,7.0,4.25,3670,4000,2.0,0,1,3,2800,870,1964,2000,2341 W Crockett St,Seattle,WA 98199,USA
8,2014-06-20 00:00:00,1950000.0,7.0,3.50,4640,15235,2.0,0,1,3,2860,1780,1965,2003,8105 SE 44th St,Mercer Island,WA 98040,USA
9,2014-06-20 00:00:00,1240000.0,7.0,5.50,6630,13782,2.0,0,0,3,4930,1700,2004,2003,16659 SE 69th Way,Bellevue,WA 98006,USA
10,2014-07-09 00:00:00,599000.0,7.0,2.50,2580,5750,1.0,0,0,4,1880,700,1901,0,125 30th Ave,Seattle,WA 98122,USA

In [22]:
 bedrooms_5 = home[home["bedrooms"] > 5]

In [23]:
bedrooms_5

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
92,2014-05-05 00:00:00,8.230000e+05,6.0,1.75,2920,5000,2.5,0,0,4,2780,140,1908,0,125 29th Ave,Seattle,WA 98122,USA
122,2014-05-05 00:00:00,2.280000e+06,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
170,2014-05-06 00:00:00,4.750000e+05,6.0,3.00,3470,117612,1.5,0,0,3,3470,0,1924,2011,19007 80th Ave NE,Kenmore,WA 98028,USA
241,2014-05-07 00:00:00,5.999990e+05,9.0,4.50,3830,6988,2.5,0,0,3,2450,1380,1938,2003,8809 Densmore Ave N,Seattle,WA 98103,USA
252,2014-05-07 00:00:00,3.200000e+06,7.0,4.50,6210,8856,2.5,0,2,5,4760,1450,1910,0,1230 Warren Ave N,Seattle,WA 98109,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4301,2014-07-10 00:00:00,8.800000e+05,6.0,2.50,2640,3680,2.0,0,0,5,1760,880,1922,1956,3008 38th Ave SW,Seattle,WA 98126,USA
4341,2014-05-08 00:00:00,3.750000e+05,6.0,2.25,3206,5793,2.0,0,0,3,3206,0,2012,1912,25921-25929 35th Pl S,Kent,WA 98032,USA
4357,2014-05-05 00:00:00,0.000000e+00,6.0,2.75,3200,9200,1.0,0,2,4,1600,1600,1953,1983,12271 Marine View Dr SW,Burien,WA 98146,USA
4509,2014-06-18 00:00:00,0.000000e+00,6.0,3.00,3020,13783,2.0,0,0,3,3020,0,1952,2002,4115 85th Ave SE,Mercer Island,WA 98040,USA
4572,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA

In [24]:
bedrooms_5.reset_index(drop = True)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-05 00:00:00,8.230000e+05,6.0,1.75,2920,5000,2.5,0,0,4,2780,140,1908,0,125 29th Ave,Seattle,WA 98122,USA
1,2014-05-05 00:00:00,2.280000e+06,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
2,2014-05-06 00:00:00,4.750000e+05,6.0,3.00,3470,117612,1.5,0,0,3,3470,0,1924,2011,19007 80th Ave NE,Kenmore,WA 98028,USA
3,2014-05-07 00:00:00,5.999990e+05,9.0,4.50,3830,6988,2.5,0,0,3,2450,1380,1938,2003,8809 Densmore Ave N,Seattle,WA 98103,USA
4,2014-05-07 00:00:00,3.200000e+06,7.0,4.50,6210,8856,2.5,0,2,5,4760,1450,1910,0,1230 Warren Ave N,Seattle,WA 98109,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2014-07-10 00:00:00,8.800000e+05,6.0,2.50,2640,3680,2.0,0,0,5,1760,880,1922,1956,3008 38th Ave SW,Seattle,WA 98126,USA
74,2014-05-08 00:00:00,3.750000e+05,6.0,2.25,3206,5793,2.0,0,0,3,3206,0,2012,1912,25921-25929 35th Pl S,Kent,WA 98032,USA
75,2014-05-05 00:00:00,0.000000e+00,6.0,2.75,3200,9200,1.0,0,2,4,1600,1600,1953,1983,12271 Marine View Dr SW,Burien,WA 98146,USA
76,2014-06-18 00:00:00,0.000000e+00,6.0,3.00,3020,13783,2.0,0,0,3,3020,0,1952,2002,4115 85th Ave SE,Mercer Island,WA 98040,USA
77,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA

In [25]:
bedrooms_5.shape

(78, 18)

In [26]:
bedrooms_56 = home[home["bedrooms"].isin([5, 6])]   # Sorting rows

In [27]:
bedrooms_56

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
14,2014-05-02 00:00:00,1.200000e+06,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA
28,2014-05-02 00:00:00,6.750000e+05,5.0,2.50,2820,67518,2.0,0,0,3,2820,0,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA
54,2014-05-02 00:00:00,4.700000e+05,5.0,2.50,2210,9655,1.0,0,0,3,1460,750,1976,0,19334 89th Ave NE,Bothell,WA 98011,USA
57,2014-05-02 00:00:00,7.850000e+05,5.0,3.25,3660,11995,2.0,0,2,3,3660,0,2006,0,7425 Snowberry Ave SE,Snoqualmie,WA 98065,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4540,2014-06-25 00:00:00,3.750000e+05,5.0,3.25,3370,7947,2.0,0,0,3,3370,0,2001,0,1826 4th St,Kirkland,WA 98033,USA
4542,2014-06-25 00:00:00,0.000000e+00,5.0,3.50,2640,6895,2.0,0,0,3,2640,0,2001,0,34529 SE Jay Ct,Snoqualmie,WA 98065,USA
4562,2014-06-30 00:00:00,5.425000e+05,5.0,2.75,2520,16100,1.0,0,3,4,1570,950,1960,2001,8336 Avalon Dr,Mercer Island,WA 98040,USA
4572,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA
4575,2014-07-02 00:00:00,0.000000e+00,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA

In [28]:
bedrooms_57 = home[(home["bedrooms"] == 5) | (home["bedrooms"] == 7)]

In [29]:
bedrooms_57

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
14,2014-05-02 00:00:00,1200000.0,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA
28,2014-05-02 00:00:00,675000.0,5.0,2.50,2820,67518,2.0,0,0,3,2820,0,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA
54,2014-05-02 00:00:00,470000.0,5.0,2.50,2210,9655,1.0,0,0,3,1460,750,1976,0,19334 89th Ave NE,Bothell,WA 98011,USA
57,2014-05-02 00:00:00,785000.0,5.0,3.25,3660,11995,2.0,0,2,3,3660,0,2006,0,7425 Snowberry Ave SE,Snoqualmie,WA 98065,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,2014-06-24 00:00:00,542500.0,5.0,2.75,3831,13800,2.0,1,4,3,3831,0,1959,1980,6208 SE 22nd St,Mercer Island,WA 98040,USA
4540,2014-06-25 00:00:00,375000.0,5.0,3.25,3370,7947,2.0,0,0,3,3370,0,2001,0,1826 4th St,Kirkland,WA 98033,USA
4542,2014-06-25 00:00:00,0.0,5.0,3.50,2640,6895,2.0,0,0,3,2640,0,2001,0,34529 SE Jay Ct,Snoqualmie,WA 98065,USA
4562,2014-06-30 00:00:00,542500.0,5.0,2.75,2520,16100,1.0,0,3,4,1570,950,1960,2001,8336 Avalon Dr,Mercer Island,WA 98040,USA
4575,2014-07-02 00:00:00,0.0,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA

In [30]:
bedrooms_57.shape

(367, 18)

In [31]:
view_no = home[home["view"].notna()]

In [32]:
big_house = home.loc[home["bedrooms"] > 5, "city"]

In [33]:
big_house

92            Seattle
122           Redmond
170           Kenmore
241           Seattle
252           Seattle
            ...
4301          Seattle
4341             Kent
4357           Burien
4509    Mercer Island
4572          Seattle
Name: city, Length: 78, dtype: object

In [34]:
big_house.shape

(78,)

In [35]:
home.iloc[10:25, 2:7]  # Sorting rows and columns

    bedrooms  bathrooms  sqft_living  sqft_lot  floors
10       3.0       1.75         1710      7320     1.0
11       4.0       2.50         2920      4000     1.5
12       3.0       1.75         2330     14892     1.0
13       3.0       1.00         1090      6435     1.0
14       5.0       2.75         2910      9480     1.5
15       3.0       1.50         1200      9720     1.0
16       3.0       1.50         1570      6700     1.0
17       4.0       3.00         3110      7231     2.0
18       3.0       1.75         1370      5858     1.0
19       3.0       1.50         1180     10277     1.0
20       3.0       1.75         2240     10578     2.0
21       4.0       1.00         1450      8800     1.0
22       3.0       2.25         1750      1572     2.5
23       4.0       2.50         2730     12261     2.0
24       4.0       1.75         1600      6380     1.0

In [36]:
home.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [37]:
home['bedroomsprice'] = home['price']/home['bedrooms'] # Add column

In [38]:
home.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000

In [39]:
home_renamed = home.rename(
     columns={"price": "Home_price"})   # Rename column name

In [40]:
home_renamed

,date,Home_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,102722.222222
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,178111.111111
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,138968.055556
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,50850.000000
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,73533.333333

In [41]:
home_renamed = home_renamed.rename(columns=str.lower)  # Lowercase in conver str

In [42]:
home_renamed

,date,home_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,102722.222222
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,178111.111111
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,138968.055556
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,50850.000000
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,73533.333333

In [45]:
home_renamed["home_price"].mean()   # Column mean values

551962.9884732141

In [46]:
 home_renamed[["home_price", "bedrooms"]].median()   # Columns median values

home_price    460943.461539
bedrooms           3.000000
dtype: float64

In [47]:
home_renamed.describe()

,home_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,bedroomsprice
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4.600000e+03
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261,inf
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536,NaN
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000,0.000000e+00
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000,1.000000e+05
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000,1.443649e+05
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000,1.999898e+05
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000,inf

In [48]:
home_renamed['bedrooms'].describe()   # Columns describe values

count    4600.000000
mean        3.400870
std         0.908848
min         0.000000
25%         3.000000
50%         3.000000
75%         4.000000
max         9.000000
Name: bedrooms, dtype: float64

In [49]:
home_renamed.agg({'home_price': ['min', 'max', 'median', 'skew'],
              'bedrooms': ['min', 'max', 'median', 'mean']})         # Multi-columns mean,median,max,min..etc values

          home_price  bedrooms
max     2.659000e+07   9.00000
mean             NaN   3.40087
median  4.609435e+05   3.00000
min     0.000000e+00   0.00000
skew    2.479093e+01       NaN

In [51]:
home_renamed.head()

,date,home_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000

In [54]:
home_renamed[["bedrooms", "bathrooms"]].groupby("bedrooms").mean()

          bathrooms
bedrooms
0.0        0.000000
1.0        1.072368
2.0        1.401943
3.0        1.996924
4.0        2.472894
5.0        2.859065
6.0        2.979508
7.0        4.285714
8.0        3.125000
9.0        4.500000

In [55]:
home_renamed.groupby("bedrooms")["bathrooms"].mean()

bedrooms
0.0    0.000000
1.0    1.072368
2.0    1.401943
3.0    1.996924
4.0    2.472894
5.0    2.859065
6.0    2.979508
7.0    4.285714
8.0    3.125000
9.0    4.500000
Name: bathrooms, dtype: float64

In [56]:
home_renamed["bedrooms"].value_counts()   # Column in values count

3.0    2032
4.0    1531
2.0     566
5.0     353
6.0      61
1.0      38
7.0      14
0.0       2
8.0       2
9.0       1
Name: bedrooms, dtype: int64

In [57]:
home

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,102722.222222
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,178111.111111
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,138968.055556
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,50850.000000
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,73533.333333

In [75]:
com_home = pd.read_csv("house_csv.csv", parse_dates=True)

In [76]:
com_home = com_home[['price','bedrooms','bathrooms']]

In [77]:
com_home

             price  bedrooms  bathrooms
0     3.130000e+05       3.0       1.50
1     2.384000e+06       5.0       2.50
2     3.420000e+05       3.0       2.00
3     4.200000e+05       3.0       2.25
4     5.500000e+05       4.0       2.50
...            ...       ...        ...
4595  3.081667e+05       3.0       1.75
4596  5.343333e+05       3.0       2.50
4597  4.169042e+05       3.0       2.50
4598  2.034000e+05       4.0       2.00
4599  2.206000e+05       3.0       2.50

[4600 rows x 3 columns]

In [80]:
mainhome = pd.concat([home, home_renamed],
                     keys=["home", "rename"])    # Add multi-table

In [81]:
maihome

                            date      price  bedrooms  bathrooms  sqft_living  \
home   0     2014-05-02 00:00:00   313000.0       3.0       1.50         1340
       1     2014-05-02 00:00:00  2384000.0       5.0       2.50         3650
       2     2014-05-02 00:00:00   342000.0       3.0       2.00         1930
       3     2014-05-02 00:00:00   420000.0       3.0       2.25         2000
       4     2014-05-02 00:00:00   550000.0       4.0       2.50         1940
...                          ...        ...       ...        ...          ...
rename 4595  2014-07-09 00:00:00        NaN       3.0       1.75         1510
       4596  2014-07-09 00:00:00        NaN       3.0       2.50         1460
       4597  2014-07-09 00:00:00        NaN       3.0       2.50         3010
       4598  2014-07-10 00:00:00        NaN       4.0       2.00         2090
       4599  2014-07-10 00:00:00        NaN       3.0       2.50         1490

             sqft_lot  floors  waterfront  view  condition  sqft_above  \
home   0         7912     1.5           0     0          3        1340
       1         9050     2.0           0     4          5        3370
       2        11947     1.0           0     0          4        1930
       3         8030     1.0           0     0          4        1000
       4        10500     1.0           0     0          4        1140
...               ...     ...         ...   ...        ...         ...
rename 4595      6360     1.0           0     0          4        1510
       4596      7573     2.0           0     0          3        1460
       4597      7014     2.0           0     0          3        3010
       4598      6630     1.0           0     0          3        1070
       4599      8102     2.0           0     0          4        1490

             sqft_basement  yr_built  yr_renovated                    street  \
home   0                 0      1955          2005      18810 Densmore Ave N
       1               280      1921             0           709 W Blaine St
       2                 0      1966             0  26206-26214 143rd Ave SE
       3              1000      1963             0           857 170th Pl NE
       4               800      1976          1992         9105 170th Ave NE
...                    ...       ...           ...                       ...
rename 4595              0      1954          1979            501 N 143rd St
       4596              0      1983          2009          14855 SE 10th Pl
       4597              0      2009             0          759 Ilwaco Pl NE
       4598           1020      1974             0         5148 S Creston St
       4599              0      1990             0         18717 SE 258th St

                  city  statezip country  bedroomsprice     home_price
home   0     Shoreline  WA 98133     USA  104333.333333            NaN
       1       Seattle  WA 98119     USA  476800.000000            NaN
       2          Kent  WA 98042     USA  114000.000000            NaN
       3      Bellevue  WA 98008     USA  140000.000000            NaN
       4       Redmond  WA 98052     USA  137500.000000            NaN
...                ...       ...     ...            ...            ...
rename 4595    Seattle  WA 98133     USA  102722.222222  308166.666667
       4596   Bellevue  WA 98007     USA  178111.111111  534333.333333
       4597     Renton  WA 98059     USA  138968.055556  416904.166667
       4598    Seattle  WA 98178     USA   50850.000000  203400.000000
       4599  Covington  WA 98042     USA   73533.333333  220600.000000

[9200 rows x 20 columns]

In [82]:
home.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000

In [83]:
home["street"].str.lower()      # Columns str-values convert in lowercase

0           18810 densmore ave n
1                709 w blaine st
2       26206-26214 143rd ave se
3                857 170th pl ne
4              9105 170th ave ne
                  ...
4595              501 n 143rd st
4596            14855 se 10th pl
4597            759 ilwaco pl ne
4598           5148 s creston st
4599           18717 se 258th st
Name: street, Length: 4600, dtype: object

In [84]:
home["street"].str.split(",")

0           [18810 Densmore Ave N]
1                [709 W Blaine St]
2       [26206-26214 143rd Ave SE]
3                [857 170th Pl NE]
4              [9105 170th Ave NE]
                   ...
4595              [501 N 143rd St]
4596            [14855 SE 10th Pl]
4597            [759 Ilwaco Pl NE]
4598           [5148 S Creston St]
4599           [18717 SE 258th St]
Name: street, Length: 4600, dtype: object

In [85]:
home.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,104333.333333
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,114000.000000
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,140000.000000
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000

In [86]:
home["city"].str.len()   # Columns values len

0       9
1       7
2       4
3       8
4       7
       ..
4595    7
4596    8
4597    6
4598    7
4599    9
Name: city, Length: 4600, dtype: int64

In [87]:
home["street"].str.len().idxmax()   # Maximum len in column

2249

In [89]:
home.loc[home["street"].str.len().idxmax(), "street"]

'25804-25810 Lake Wilderness Country Club Dr SE'

In [94]:
home.loc[home['city'].str.contains('Seattle|Redmond', regex = True)]     # Regex using filter data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,137500.000000
5,2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA,245000.000000
6,2014-05-02 00:00:00,3.350000e+05,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA,167500.000000
9,2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA,160000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,Seattle,WA 98115,USA,203031.250000
4585,2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,Seattle,WA 98103,USA,162298.333333
4591,2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,Seattle,WA 98126,USA,132055.555556
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,102722.222222
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,50850.000000

In [ ]:
import re
home.loc[home['city'].str.contains('seattle|redmond',flags = re.I, regex = True)]

In [99]:
home.loc[home['city'].str.contains('^p[a-z]*',flags=re.I, regex = True)]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
5,2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA,245000.000000
9,2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA,160000.000000
11,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA,350000.000000
13,2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA,121666.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,Seattle,WA 98115,USA,203031.250000
4585,2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,Seattle,WA 98103,USA,162298.333333
4591,2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,Seattle,WA 98126,USA,132055.555556
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,102722.222222
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,50850.000000

In [100]:
home.to_csv('savedemo.txt')   # Save dataframe

In [109]:
home.loc[(home['city'].str.contains('tle')) & ~(home['bedrooms']<5)]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,bedroomsprice
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,476800.000000
14,2014-05-02 00:00:00,1.200000e+06,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA,240000.000000
92,2014-05-05 00:00:00,8.230000e+05,6.0,1.75,2920,5000,2.5,0,0,4,2780,140,1908,0,125 29th Ave,Seattle,WA 98122,USA,137166.666667
99,2014-05-05 00:00:00,1.395000e+06,5.0,3.50,4010,8510,2.0,0,1,5,2850,1160,1971,0,3930 NE Belvoir Pl,Seattle,WA 98105,USA,279000.000000
104,2014-05-05 00:00:00,4.350000e+05,5.0,2.00,1840,9240,1.0,0,0,4,1540,300,1942,1958,14013 Ashworth Ave N,Seattle,WA 98133,USA,87000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,2014-06-20 00:00:00,1.234582e+06,5.0,3.25,3240,6551,1.5,0,4,4,2500,740,1939,1989,6851 51st Ave NE,Seattle,WA 98115,USA,246916.400000
4398,2014-05-19 00:00:00,1.950000e+05,5.0,3.75,5340,10655,2.5,0,3,4,3740,1600,1912,1989,2601-2649 Shoreland Dr S,Seattle,WA 98144,USA,39000.000000
4448,2014-06-03 00:00:00,0.000000e+00,5.0,2.75,2740,5616,1.5,0,0,5,1670,1070,1925,0,1013 NE 80th St,Seattle,WA 98115,USA,0.000000
4479,2014-06-11 00:00:00,0.000000e+00,5.0,2.00,1910,7200,1.0,0,0,4,1110,800,1951,1999,11620-11698 57th Ave S,Seattle,WA 98178,USA,0.000000
4572,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA,214722.222222

In [ ]:
#for df in pd.read_csv('house_csv.csv',chunksize=5):     # dataframe see in 5 row's group
#    print(df)